.home-slider
	.owl-carousel
/////////////////////////////////
// Phần Slider
/////////////////////////////////
		.item
			position: relative
			.title
				height: 100%
				width: 100%
				+pad(1.5rem 0)
				align-items: center
				display: flex
			+media-breakpoint-up(sm)
				.title-text
					position: absolute
					top: 0
					left: 0
					margin: 4rem
					color: $whites




